<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置顺序必须是： properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, 
		objectWrapperFactory?, reflectorFactory?, plugins?, environments?, databaseIdProvider?, 
		mappers? -->
	<!-- <properties resource="jdbc.properties">
	</properties> -->
	<settings>
		<!-- 全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存。 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置fetchType属性来覆盖该项的开关状态。 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="autoMappingUnknownColumnBehavior"
			value="WARNING" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="defaultFetchSize" value="100" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods"
			value="equals,clone,hashCode,toString" />
		<setting name="logImpl" value="LOG4J"/>
	</settings>

	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments> -->

	<typeAliases>
        <package name="aiyunnet.entity"/>
    </typeAliases>
    
	<mappers>
		<mapper resource="aiyunnet/entity/mapper/AdminMapper.xml" />
		<mapper resource="aiyunnet/entity/mapper/SysUserMapper.xml" />
	</mappers>

</configuration>